{% extends 'base/base.html' %}

{% block title %}
ControlTotal | Bienvenido
{% endblock %}

{% block content %}
<div id="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<br><br><br><br><br><br><br><br><br>
	      	<div class="span12">
	      		<h5 align="center">Bienvenido al Sistema de Control de Inventario y Facturación <b>Control</b>Total v1.0</h5>
			</div>
			<div align="center">
				<p><font size="1">El software de este sitio web está protegido por las Leyes de Propiedad Intelectual. Queda prohibida la copia parcial o total de su contenido, incluidos los logos y nombres registrados como GlobalTech®. <br />
        		Todos los Derechos Reservados Globaltech®  2010 - Número de Registro 3532017 Versión 1.0</font></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
